<h3>Resultados</h3>
@if (loading) {
  <p class="carregando">Carregando...</p>
} @else {
  <table mat-table [dataSource]="prestadoresLista" class="mat-elevation-z8">

    <ng-container matColumnDef="rede">
      <th mat-header-cell *matHeaderCellDef>   </th>
      <td mat-cell *matCellDef="let prestador">
        @if(prestador.rede_essencial){
          <div class="rede-essencial-positive">
            <img src="../../assets/imagens/Medalha.svg" alt="">
          </div>
        } @else {
          <div class="rede-essencial-negativo">

          </div>
        }
      </td>
    </ng-container>


    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome do Prestador </th>
      <td mat-cell *matCellDef="let prestador"> {{prestador.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="endereco">
      <th mat-header-cell *matHeaderCellDef> Endereço </th>
      <td mat-cell *matCellDef="let prestador"> {{prestador.endereco}}, {{prestador.uf}} </td>
    </ng-container>

    <ng-container matColumnDef="telefone">
      <th mat-header-cell *matHeaderCellDef> Telefone </th>
      <td mat-cell *matCellDef="let prestador"> {{prestador.ddd}} {{prestador.telefone}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> E-mail </th>
      <td mat-cell *matCellDef="let prestador"> {{prestador.email}} </td>
    </ng-container>

    <ng-container matColumnDef="site">
      <th mat-header-cell *matHeaderCellDef> Site </th>
      <td mat-cell *matCellDef="let prestador"> {{prestador.site}} </td>
    </ng-container>

    <ng-container matColumnDef="atendimento_video">
      <th mat-header-cell *matHeaderCellDef> Atendimento por Vídeo </th>
      <td mat-cell *matCellDef="let prestador">
        @if(prestador.atendimento_video){
          <div class="marcador-positivo">
            <i class="las la-check-circle"></i> Possui
          </div>
        } @else {
          <div class="marcador-negativo">
            <i class="las la-times-circle"></i> Não Possui
          </div>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="mapa">
      <th mat-header-cell *matHeaderCellDef> Mapa </th>
      <td mat-cell *matCellDef="let prestador">
        <app-map-directions distance="0"/>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDetail(row.id)"></tr>
  </table>
}
