<div class="column">
  <form class="full-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Informe um ponto de referência como endereço, UF, Município, Bairro, CEP, etc</mat-label>
      <input #enderecoInput matInput placeholder="Endereço">
    </mat-form-field>
  </form>
  <button (click)="getLocation()" class="botao-vivest"><img src="../../assets/imagens/Localização.svg" alt=""></button>
</div>

@if(loading) {
  <div class="loading-adress">
    Localizando seu endereço, aguarde...
  </div>
}
