.botao-vivest {
  background: #fff;
  border: 2px solid #7c73af;
  border-radius: 10px;
  height: 60px;
  margin-bottom: 22px;
  cursor: pointer;
  padding: 0;
  width: 76px;

   img {
    height: 100%;
  }
}

.botao-vivest:hover {
  background: #eceaf3;
}

.column {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.loading-adress {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  backdrop-filter: blur(2px);
  z-index: 2;
  font-size: 22px;
  color: #3c2e88;
  font-family: 'Campton-semibold';
}
