<h1>Busca de Rede</h1>
<div class="container-layout">
  <section>
    <app-seleciona-plano/>
  </section>
  <section class="column">
    <app-seleciona-tipo-estabelecimento/>
    <app-seleciona-especialidade/>
    <app-seleciona-procedimento/>
  </section>
  <section>
    <app-search-nome-prestador/>
  </section>
  <section>
    <app-endereco/>
  </section>
  <section class="column">
    <div class="col-6">
      <app-select-atendimento-video/>
    </div>
    <div class="col-6">
      <app-search-rede-essencial/>
    </div>
  </section>
  <!-- <app-mapview/> -->
</div>
<div class="container-resultados">
  <app-lista-prestador/>
</div>
